<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="{{ url_for('index') }}">MDC</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="./adm-agendamentos.php" target="_self">Agendamentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./adm-agendamentostodos.php" target="_self">Agendamentos (todos)</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('clientes') }}">Clientes</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('adm_produtos') }}" target="_self">Produtos</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="./adm-vendas.php" target="_self">Vendas</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="./adm-servicos.php" target="_self">Serviços</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="./index.php" target="_self">Sair</a>
      </li>
    </ul>
  </div>
</nav>